.container{
    border:1px solid black;
    border-radius: 15px;
}
.heading{
    margin-bottom:30px;
}
.heading-name{
    margin-top:60px;
}
.skills-heading{
    padding-left:20px;
    border-bottom: 2px solid black;
}
.skills-content{
    padding-top: 20px;
    
}
.experience-heading{
    border-bottom: 2px solid black;
}
.education-heading{
    border-bottom: 2px solid black;
}
.abilities-header{
    border-bottom: 2px solid black;
}
.objective-heading{
    border-bottom: 2px solid black;
}
.objective-content{
    padding-left: 40px;
}